@page "/"
@using Microsoft.Data.Sqlite
@using ToDoList.Models
@using MudBlazor

<PageTitle>Home</PageTitle>

<h1>To Do List</h1>

<MudGrid>
    <MudItem xs="3">
        <MudTextField @bind-Value="@itemName" Label="Task Name" Variant="Variant.Outlined"></MudTextField>
    </MudItem>
    <MudItem xs="3">
        <MudDatePicker @bind-Date="@dueDate" Label="Due Date" Variant="Variant.Outlined"></MudDatePicker>
    </MudItem>
    <MudItem xs="1">
        <MudButton Style="margin-top:17px" OnClick="() => AddData()" Variant="Variant.Outlined" Color="Color.Primary">Add Task</MudButton>
    </MudItem>

    <MudItem xs="5"></MudItem>

    <MudItem xs="12">
        <MudText>Filters:</MudText>
    </MudItem>
    <MudItem xs="3">
        <MudDatePicker @bind-Date="@filterDate" Label="Filter By Date" Variant="Variant.Outlined"></MudDatePicker>
    </MudItem>
    <MudItem xs="2">
        @* Disabled as date filtering does not currently work using this method*@
        <MudButton Style="margin-top:17px" OnClick="() => ApplyDateFilter()" Variant="Variant.Outlined" Color="Color.Primary" Disabled="true">Apply Filter</MudButton>
    </MudItem>
    <MudItem xs="2"></MudItem>
    <MudItem xs="2">
        <MudSwitch T="bool" Style="margin-top:10px" Label="Show Completed Tasks" Color="Color.Primary" ValueChanged="@(() => ToggleCompleted())" />
    </MudItem>
    <MudItem xs="3">
        <MudButton Style="margin-top:17px" OnClick="() => MarkSelectedAsComplete()" Variant="Variant.Outlined" Color="Color.Primary">Mark Selected as Complete</MudButton>
    </MudItem>
</MudGrid>

<MudDataGrid Items="@listItems" MultiSelection="true" @bind-SelectedItems="selectedItems" Filterable="true" FilterMode="DataGridFilterMode.Simple" SortMode="@SortMode.Single" Groupable="false">
    <Columns>
        <SelectColumn T="ListItem" />
        <PropertyColumn Property="x => x.Id" />
        <PropertyColumn Property="x => x.Name" />
        <PropertyColumn Property="x => x.DueDate" Title="Due Date" />
        <PropertyColumn Property="x => x.Completed" />
        <TemplateColumn>
            <CellTemplate>
                <MudStack Row>
                    @if (!context.Item.Completed)
                    {
                        <MudButton Size="@Size.Small" Variant="@Variant.Filled" Color="@Color.Primary" OnClick="() => SetCompleted(context.Item.Id)">Mark as Completed</MudButton>
                    }
                </MudStack>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
</MudDataGrid>


@code{
    public string path = Path.GetFullPath(AppDomain.CurrentDomain.BaseDirectory + $"\\..\\..\\..");

    public bool showCompleted = false;

    public string itemName = "";
    public DateTime? dueDate = DateTime.Now;
    public DateTime? filterDate;
    public List<ListItem> listItems = new List<ListItem>();
    public HashSet<ListItem> selectedItems = new();

    protected override async Task OnInitializedAsync()
    {
        using var connection = new SqliteConnection(@$"Data Source={path}\\tododatabase.db");
        connection.Open();

        var sql = "CREATE TABLE IF NOT EXISTS ToDoList (id INTEGER PRIMARY KEY, name TEXT NOT NULL, duedate DATE NOT NULL, completed BOOL NOT NULL)";

        using var command = new SqliteCommand(sql, connection);
        await command.ExecuteNonQueryAsync();

        await GetData(showCompleted);
    }

    private async Task AddData()
    {
        if (string.IsNullOrEmpty(itemName))
        {
            return;
        }
        var sql = "INSERT INTO ToDoList (name, duedate, completed) VALUES (@itemName, @dueDate, @completed)";

        // Open a new database connection
        using var connection = new SqliteConnection(@$"Data Source={path}\\tododatabase.db");
        connection.Open();

        // Bind parameters values
        using var command = new SqliteCommand(sql, connection);

        command.Parameters.AddWithValue("@itemName", itemName);
        command.Parameters.AddWithValue("@dueDate", DateOnly.FromDateTime(dueDate.Value));
        command.Parameters.AddWithValue("@completed", "0");

        // Execute the INSERT statement
        await command.ExecuteNonQueryAsync();

        //Reset inputs
        itemName = "";
        dueDate = DateTime.Now;

        //Refresh table
        await GetData(showCompleted);
    }

    private async Task GetData(bool getAll, DateTime? filterDate = null)
    {
        listItems.Clear();
        string sql = "";

        if (getAll)
        {
            sql = "SELECT * FROM ToDoList";
        }
        else
        {
            //Show only incomplete tasks
            sql = $"SELECT * FROM ToDoList WHERE Completed = false";
        }

        //This doesn't work. I can't get it to match the date format in the database, even though both look the same.
        //I expect it's either because I'm using DateOnly, or a SQLite issue.
        // if (filterDate != null)
        // {
        //     sql += " AND DueDate = " + DateOnly.FromDateTime(filterDate.Value).ToString("yyyy-MM-dd");
        // }

        try
        {
            using var connection = new SqliteConnection(@$"Data Source={path}\\tododatabase.db");
            connection.Open();

            using var command = new SqliteCommand(sql, connection);
            using var reader = await command.ExecuteReaderAsync();

            if (reader.HasRows)
            {
                while (reader.Read())
                {
                    ListItem newItem = new ListItem();

                    newItem.Id = reader.GetInt32(0);
                    newItem.Name = reader.GetString(1);
                    newItem.DueDate = DateOnly.FromDateTime(reader.GetDateTime(2));
                    newItem.Completed = reader.GetBoolean(3);

                    listItems.Add(newItem);
                }
            }
            else
            {
                Console.WriteLine("No items found.");
            }

        }
        catch (SqliteException ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    private async Task SetCompleted(int Id)
    {
        var sql = "UPDATE ToDoList SET completed = @completed WHERE id = @id";

        // Open a new database connection
        using var connection = new SqliteConnection(@$"Data Source={path}\\tododatabase.db");
        connection.Open();

        // Bind parameters values
        using var command = new SqliteCommand(sql, connection);

        command.Parameters.AddWithValue("@completed", 1);
        command.Parameters.AddWithValue("@id", Id);

        // Execute the UPDATE statement
        await command.ExecuteNonQueryAsync();
        //Refresh table
        await GetData(showCompleted);
    }

    private async Task MarkSelectedAsComplete()
    {
        //Not a fan of the way this method works, but this is my first time trying SQLite
        //I would need to invest some time into finding out how to properly use temp tables or batch updating
        if(selectedItems.Count < 1) { return; }

        string ids = "";
        foreach (var item in selectedItems)
        {
            ids += item.Id + ",";
        };
        ;
        ids = ids.Substring(0, (ids.Length - 1));

        var sql = $"UPDATE ToDoList SET completed = @completed WHERE id IN ({ids})";

        // Open a new database connection
        using var connection = new SqliteConnection(@$"Data Source={path}\\tododatabase.db");
        connection.Open();

        // Bind parameters values
        using var command = new SqliteCommand(sql, connection);

        command.Parameters.AddWithValue("@completed", 1);
        command.Parameters.AddWithValue("@ids", ids);

        // Execute the UPDATE statement
        await command.ExecuteNonQueryAsync();

        //Refresh table
        await GetData(showCompleted);
    }

    public async Task ApplyDateFilter()
    {
        await GetData(showCompleted, filterDate);
    }

    private async Task ToggleCompleted()
    {
        showCompleted = !showCompleted;
        await GetData(showCompleted);
    }
}